.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .hel{
  padding: 300;
} */
/* .mainclass{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* .one{
  padding: auto;
  margin: auto;
}
.two{
  padding: auto;
  margin: auto;
}
.three{
  padding-left: 450px;
} */
.navbar{
display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.card-body{
  overflow-y: auto;
    height: 560px;
}
.in{
  float: left;
  width: 100px;

}
.lik{
  padding: 10px;
  outline: 0;
  border: none;
  text-decoration: none;

  /* -moz-outline-style: none; */
} 
/* .hel{
  padding-left: 980px;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
